@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
.textTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 0;
}

.textSubTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  color: #aaaaaa;
  margin: 0;
}

.textNormal {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  color: #888888;
}

.textBold {
  font-weight: 700 !important;
  color: #888888;
}

.mt-05 {
  margin: 0.25rem 0 0 0 !important;
}

.mt-1 {
  margin: 0.5rem 0 0 0 !important;
}

.mt-2 {
  margin: 2rem 0 0 0 !important;
}

.pa-3 {
  padding: 3rem !important;
}

hmtl, body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

.topBg {
  background: url("./images/bg.jpg") center/cover;
  min-height: 40vh;
}

.mainContent {
  min-height: calc(100vh - 40vh);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  max-width: 1440px;
  margin: 0 auto;
}

.userBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.userImg {
  top: -70px;
  position: absolute;
}

.userImg img {
  width: 120px;
  border-radius: 50%;
  z-index: 0;
}

.userImg .userStatus {
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FDBA2A;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid white;
}

.userInfo {
  margin: 40px 0 0 0;
  text-align: center;
  padding: 0 2rem;
}

.userStats {
  margin: 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.border {
  margin: 1rem 0;
  border-bottom: 1px solid #eeeeee;
}

.userDesc {
  width: 300px;
}

.userDesc p {
  line-height: 1.7rem;
}

.userSocial {
  margin: 1.5rem 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.userSocial div {
  height: 25px;
  width: 25px;
  margin: 0 auto;
}

.topRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1rem 0;
}

.topRowMenu {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imageGallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.imageGallery img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  background-color: #22A4E6;
  border: none;
  color: #ffffff;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */